:root{
    --primary-color: rgb(240, 240, 54);
    --secondary-color: rgb(196, 102, 102);
    --light-color: #666;
    --black-color: #040918;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s linear;
}

html{
    font-size: 62.5%;
    scroll-padding-top: 5.5rem ;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #eee;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color: var(--black-color);
    font-size: 2.5rem;
    font-weight: bolder;
    margin-left: 5px;
    padding: 15px;
}

header .logo i{
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 60px;
    margin-right: 2px;
    padding: 5px;
    background-color: var(--secondary-color);
}

header ul{
    display: flex;
}

header .navi a{
    font-size: 1.8rem;
    border-radius: .5rem;
    padding: 5rem 1.5rem;
    color: var(--light-color);
}

header .navi a.active,
header .navi a:hover{
     
     color: var(--primary-color);
     background-color: var(--secondary-color);
    
}

 li{
    list-style: none;
}

header .icons-btn i,
header .icons-btn a{
    cursor: pointer;
    margin-left: .5rem;
    margin-right: 15px;
    padding: 5px;
    height: 30px;
    width: 40px;
    text-align: center;
    font-size:1.7rem;
    color: var(--black-color);
    border-radius: 50%;
    background-color: #eee;
}

header .icons-btn i:hover,
header .icons-btn a:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
    transform: rotate(360deg);
}

header .icons-btn #menu-bars{
    display:none;   
}

#search-form{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top: 0;
}

#search-form #search-box{
      width: 50rem;
      border-bottom: .2rem solid #fff;
      padding: 1rem 0;
      color: #fff;
      font-size: 2rem;
      text-transform: none;
      background: none;
}

#search-form #search-box::placeholder{
    color: #eee;
    font-style: italic;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
}

#search-form label:hover{
    color: var(--secondary-color);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 4rem;
}

section{
    width: 100%;
    height: 100%;
    padding: 2rem 9%;
    margin-bottom: 250px;
}

section:nth-child(even)
{
    background: #eee;
}

.swiper-wrapper .wrapper{
    width: 100;
    height: 100%;
    display: flex;
}

.home .home-slider .slide{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap: 2rem;
     padding-top: 9rem;
}

.home .home-slider .slide .content{
   flex: 1 1 35rem;
}

.home .home-slider .slide .image{
    flex: 1 1 35rem;
    margin-right: 270px; 
}

.home .home-slider .slide .image img{
    width: 100%;
    height: 100%;
}

.home .home-slider .slide .content span {
    color : var(--secondary-color);
    font-size : 2rem;
    margin-top: 30px;
}

.home .home-slider .slide .content h3{ 
     font-size: 4rem;
     color : var(--primary-color); 
}

.home .home-slider .slide .content p{
    font-size: 15px;
    color: black;
    padding: .1rem 0;
    line-height: 1.5;
}

.sub-heading{
    text-align: center;
    color: var(--secondary-color);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: 10px 5px;
}

.btn:hover{
    background: green;
    color: #eee;;
    letter-spacing: .1rem;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto, minmax(27rem, 1fr));
    gap: 1rem;
}

.dishes .box-container .box{
    display: inline-block;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: .3rem;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.swiper-pagination-bullet-active{
     background: var(--secondary-color);
}

@media(max-width: 991px){ 
    html{
       font-size: 55%; 
    }

    header{
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media(max-width: 768px){

    header .icons-btn #menu-bars{
    display:inline-block;
    }

    header .navi{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        border-bottom: .1rem solid rgba(0, 0, 0, .1) ;
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

      header .navi.active{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }

    header .navi a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box{
        width:90%;
        margin: 0 1rem;
    }
    .home .home-slider .slide .content h3{
        color: var(--primary-color);
        font-size: 5rem;
    }
}
